:root {


      /// Colors - Light mode
      
      --primary: #FBFBFC;
      --secondary: #353637;
      --accent: #41A9BF;
      
      /// Colors - Dark Mode
      
      // --primary: #0d070c;
      // --secondary: #dcd9d9;
      // --accent: #2ab1ab;

      ///
}